spring:
  zipkin:
    sender:
      type: rabbit
  rabbitmq:
    host: 192.168.64.140     # wht6.cn
    port: 5672
    username: admin
    password: admin
  application:
    name: order-service
  cloud:
    config:
      override-none: true


# item 8001,   user 8101,   order 8201
server:
  port: 8201

eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

ribbon:
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 1
