spring:
#  zipkin:
#    sender:
#      type: rabbit
  rabbitmq:
    host: 192.168.64.140     # wht6.cn
    port: 5672
    username: admin
    password: admin
  application:
    name: user-service
  cloud:
    config:
      override-none: true


# item 8001,   user 8101,   order 8201
server:
  port: 8101
# 用户的 Demo 数据
# [{id:7,username:xx,password:xx}, {8...}, {9...}]
sp:
  user-service:
    users: "[{\"id\":7, \"username\":\"abc\",\"password\":\"123\"},
             {\"id\":8, \"username\":\"def\",\"password\":\"456\"},
             {\"id\":66, \"username\":\"6666666\",\"password\":\"6666666\"},
             {\"id\":55, \"username\":\"5555555\",\"password\":\"5555555\"},
             {\"id\":77, \"username\":\"777777\",\"password\":\"777777\"},
             {\"id\":99, \"username\":\"999999\",\"password\":\"999999\"},
             {\"id\":9, \"username\":\"ghi\",\"password\":\"789\"}]"
# /eureka 子路径是客户端模块调用的 REST API 路径
# 不支持浏览器访问
# defaultZone - 默认地点，也可以从云服务商购买不同地点的eureka服务
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka
